* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    font-family: Roboto;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 24px 100px;
}

.header-link {
    display: flex;
    gap: 24px;
}

.body {
    flex: 1;
}

header,
footer,
.first-part {
    background-color: #1F2937;
}

.first-part {
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.header div {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.item h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.item p,
.header-link a {
    font-size: 18px;
    color: #E5E7EB;
}

img {
    color: #F9FAF8;
    background-color: #969696;
    height: 300px;
    width: 600px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-one {
    max-width: 600px;
}

.first-part button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 24px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 8px;
    font-weight: 700;
}

.second-part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-part h1 {
    font-weight: 800;
    font-size: 36px;
    color: #1F2937;
}